<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/dist/css/wangEditor-mobile.css">
</head>
<script type="text/javascript" src="/static/dist/js/lib/zepto.js"></script>
	<script type="text/javascript" src="/static/dist/js/lib/zepto.touch.js"></script>
	<script type="text/javascript" src="/static/dist/js/wangEditor-mobile.js"></script>
<script>
    function callSubmit( authorId ) {
       document.getElementById("foodAuthorIdInput").value = authorId;
       document.getElementById("editFoodForm").submit();
       return "yes"
    }
</script>
	<script type="text/javascript">
		$(function () {
			// ___E 三个下划线
			var editor = new ___E('textarea1')
			editor.config.uploadImgUrl = '{{ serverip }}upload';
			editor.init();
		});

	</script>
<body>
    <div class="container">
        <div class="form-group"><label >请编辑您要添加的美食吧！</label></div>
        <form method="post" id="editFoodForm" action="/createNewFood">
             <input name="foodNameInput" class="form-control" placeholder="菜品名称">
             <input type="hidden" name="foodAuthorIdInput" id="foodAuthorIdInput">
             <br/><br/>
             {#<input name="foodTypeIdInput" class="form-control" placeholder="菜系ID">#}
             <div class="form-group"><label >添加菜系（若列表为空或未找到想要的菜系,请返回上一级添加菜系）</label></div>
             <select name = "foodTypeIdInput" form="editFoodForm" class="form-control">
                 {%  for foodType in foodTypeList %}
                    <option value="{{ foodType.foodTypeId }} "  class="form-control">{{ foodType.foodTypeName }}</option>
                 {% endfor %}
             </select>
        <hr style="height: 3px" style="color: #111111"/>
             <textarea
                     name="foodDetailInput"
                     id="textarea1" class="form-control"
                     style="width:100%;height:100%;">
                 <p> 请编辑菜品信息
                    <br/><br/><br/><br/><br/>
                 </p>
		     </textarea>
            <hr style="height: 3px" style="color: #111111"/>
        </form>
	</div>
</body>
</html>