<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Title</title>
</head>
<body>
    <div class="panel panel-primary">
    <div class="panel-heading" align="center">
        <h2 class="panel-title" >{{ foodInfo.foodName }}</h2>
        <h6 onclick="callJs2And({{ foodInfo.foodAuthorId }})">
            作者：{{ authorName }}
        </h6>
        <script >
            function callJs2And(authorId){
                document.location = "js://webview?userId="+authorId+"&nickName={{ authorName }}";
            }
        </script>
    </div>
    <div class="panel-body">
        {#下面这个safe是放置flask jinja2自动转义字符#}
    {{ foodInfo.foodDetail | safe }}
    </div>
</div>

</body>
</html>