<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>查看分享：{{ shareInfo.shareTitle }}</title>
</head>
    <style >
        #contentshow img,video{
			width: 100%;
			height: auto;
			box-sizing: border-box;
		}
    </style>
<body>

    <div class="page-header" >
        <h1>
            &nbsp;{{ shareInfo.shareTitle }}
        </h1>
        <h6 style="color: steelblue;" onclick="callJs2And({{ shareInfo.shareAuthorId }})">
            &nbsp;&nbsp;&nbsp;&nbsp;{{ authorName }}
            <script >
            function callJs2And(authorId){
                document.location = "js://webview?userId="+authorId+"&nickName={{ authorName }}";
            }
        </script>
        </h6>
        <h6>
            &nbsp;&nbsp;&nbsp;&nbsp;{{ shareInfo.pubTime}}
        </h6>
    </div>
    <div class="panel-body" id="contentshow">
        {#下面这个safe是放置flask jinja2自动转义字符#}
    {{ shareInfo.shareDetail | safe }}
    </div>


</body>
</html>